.banner{ 
    font-size:4em;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-top: 15vh;
    background-image: url("banner2.jpg");
    background-size:cover;
    height: 50vh;
    margin-bottom: 20px;
    position:relative;
}
nav{
    display: inline-flex;
}
a:link { 
    color: black; 
}  
a:hover{
    color: rgb(95, 94, 94); 
    border: 2px solid gray;
}
a:visited{
    color:blueviolet;
    border: 2px solid blueviolet;
}
a:active{
    border: 2px solid blue;
}
.menu li{
    display: inline;
    font-family: 'Times New Roman', Times, serif;
    padding-right: 150px;
    margin-left: 0px;
}
#main-heading{
    background-color: rgb(148, 198, 242);
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color: white;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    text-align: left;
    margin: 20px;
    padding: 10px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: white;
    border: 0.2em solid rgb(61, 122, 176);
    background-color:rgb(148, 198, 242);
} 
* {
    box-sizing: border-box;
  }
#task{
    float: left;
    width: 50%;
    height: 600px; 
    background: aliceblue;
    padding: 20px;
    border: 0.1em solid white;
}
#requirements{
    float: right;
    width: 50%;
    height: 950px; 
    background: rgb(176, 195, 212);
    padding: 20px;
    border: 0.1em solid white;
}
#submission{
    float: left;
    width: 50%;
    height: 650px; 
    background: rgb(168, 222, 255);
    padding: 20px;
    border: 0.1em solid white;
    margin-bottom: 15px;
}
#grading{
    float: right;
    width: 50%;
    height: 600px; 
    background: rgb(212, 235, 255);
    padding: 20px;
    border: 0.1em solid white;
}
table, th, td {
    border: 0.1em solid;
    padding: 5px;
  }
h3[name="aside_section"]{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: white;
    border: 0.1em solid rgb(61, 122, 176);
    background-color:rgb(148, 198, 242);
}
#deadline{
    float: left;
    width: 50%;
    height: 269px; 
    background: white;
    padding: 20px;
    border: 0.1em solid white;
}
.aside_content::after {
    content: "";
    display: table;
    clear: both;
  }
article[name="dummy_content"]{
    background: aliceblue;
    padding: 20px;
    border: 0.1em solid white;
}
footer {
    background-color: rgb(176, 195, 212);
    padding: 10px;
    display: block;
}
.contacts{
    float: left;
    margin-left: 100px;
}
.map{
    float: left;
    margin-left: 150px;
    margin-top: 20px;
}
.categories{
    float: left;
    margin-left: 150px;
}
.quick_links{
    float: left;
    margin-left: 150px;
}
#imagetask {
    max-width: 100%;
    height: auto;
    position:relative;
}
#photo
{
    max-width: 100%;
    height: auto;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
@media screen and (max-width: 767px) {
    .banner{
        font-size:3em;
        font-weight: bold;
        color: black;
        padding-top: 7vh;
        height: 40vh;
    }
    #task, #requirements, #submission, #grading, #deadline{
        width: 100%;
    }
    .menu a {
        clear:both;
        display:block;
        border: 0.1em solid wheat;
        background-color: rgb(148, 198, 242);
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
    .categories a{
        clear: both;
        display: block;
        text-align: center;
    }
    .quick_links a{
        clear: both;
        display: block;
        text-align: center;
    }
    img {
        max-width: fit-content;
        height: auto;
    }
    .contacts, .map, .categories, .quick_links{
        display: flex;
    }
}
@media screen and (min-width: 768px){
    p {
        font: size 2em;
    }
    img {
        max-width: fit-content;
        height: auto;
    } 
}